.author-image {
	float:left;
	width: 80px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
}
.author-bio {
	margin-left: 100px;
	h5 {
		line-height:18px;
		color:$brand-graydark;
		margin:0 0 7px;
	}
	p{
		color:$brand-graymedium;
		margin:0 0 10px;
	}
	.phone-number{
		color:$brand-graymedium;
		&:after{
			content:"|";
			display:inline-block;
			margin:0 10px;
		}
	}
}